.navbar {
    display: flex; /* ������������� ��������� .navbar ��� flex-���������, 
    �������� ��� �������� ��������� ������������� � ����� ����� */
    flex-direction: row; /* ����������� �������� �������� .navbar � ������ (�� �����������) */
    justify-content: space-between; /* ������������ �������� �������� .navbar ����������, 
    � ������������ ������������� ����� ���� */
    background-color: rgba(245, 39, 67, 0.85); /* ������������� ������� ���� ��� .navbar */
}

.navbar ul {
    display: flex; /* ������������� ��������� ul ��� flex-��������� ��� ��� �������� ��������� (li) */
    flex-direction: row; /* ����������� �������� ������ (li) � ������ (�� �����������) */
    list-style: none; /* ������� ������� ������ */
    margin: 0; /* ������� ������� ������ � ������ */
	
}
.navbar li {
    color: white;
	
}

.navbar ul li {
    display: flex; /* ������������� ������ ������� ������ (li) ��� flex-��������� ��� ��� ����������� */
    margin-right: 10px; /* ��������� ������ ������ � ������� �������� ������ */
}

.navbar ul li:hover {
    background-color: rgba(0, 0, 0, 0.91); /* �������� ������� ���� �������� ������ ��� ��������� ������� */
    border-radius: 20%; /* ��������� ���� �������� ������ ��� ��������� ������� */
}

.navbar ul li a {
    text-decoration: none; /* ������� ������������� � ������ */
    color: white; /* ������������� ���� ������ ������ ������ */
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: auto; /* ���������� ����� ������ �������� ������ */
}

.navbar div {
    display: flex; /* ������������� div ��� flex-��������� */
    margin-right: 20px; /* ��������� ������ ������ � div */
	
}

.navbar div a {
    text-decoration: none; /* ������� ������������� � ������ � div */
    color: white; /* ������������� ���� ������ ������ ������ */
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: auto; /* ���������� ����� ������ div */
}

.navbar div:hover {
    background-color: rgba(0, 0, 0, 0.91); /* �������� ������� ���� div ��� ��������� ������� */
    border-radius: 20%; /* ��������� ���� div ��� ��������� ������� */
}

/* ��������� � ����������, ������������ Flexbox ��� ����������� ���������� */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* �������� ����������� �� ����� ������ ��� �������� ����� */
}

/* �������� � �������� .person � .interests �������� 25% ������ ���������� � ������������ */
.person, .interests {
    width: 25%;
    margin: auto;
}

/* ����� ��� ����������� ������ ���������� */
.container img {
    overflow: hidden;
    border-radius: 10%; /* ����������� ���� ����������� */
    box-shadow: 10px 10px 5px black; /* ���������� ���� � ����� ������ */
    width: 35%; /* ������ ����������� ���������� 50% �� ������ ������������� �������� */
    height: stretch; /* �������������� ������������� ������ ��� ���������� ��������� */
    margin: 0;
}

/* ������ ��� ��������� �� ����������� */
.container img:hover {
    transform: scale(1.1); /* ���������� ����������� �� 10% */
    transition: 0.5s ease; /* ������� ������� �� 0.5 ������� */
    box-shadow: 10px 10px 5px gray; /* ��������� ����� ���� �� ����� */
}

/* ��� ��� ���� �������� */
body {
     
}
.css-selector {
    background: linear-gradient(231deg, #9e0000, #000000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@keyframes AnimationName {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
/* ��� ��� ��������� ����������� �������� */
main {

    /* ����������� ���, ������ ����������� �� �������� � ����� ������� ������� */
}

/* ����� ��� ������ � ���������� */
p {
	
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: justify; /* ������������ ������ �� ������ */
    font-size: 1.2rem; /* ����������� ������ ������ */
    font-weight: normal; /* ������� ��� ������ */
    margin-right: 20px;
    margin-left: 10px; /* ������� �� ����� */
	color: white;
}
p1 {
    text-align: center; /* ������������ ������ �� ������ */
    font-size: 1.2rem; /* ����������� ������ ������ */
    font-weight: normal; /* ������� ��� ������ */
    margin-right: 20px;
    margin-left: 10px; /* ������� �� ����� */
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
 h2 {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		color: white;
    }

/* ������ ��� ��������� �� �������� */
p:hover {
    background-color: rgba(0, 0, 0, 0.91); /* ����� ��� ��� ��������� */
}

/* ������ ������ ���������� */
.container section {
    width: 100%; /* ������ �������� ��� ������ ���������� */
    margin: auto; /* ������������� ������ */
}

.container-video {
    display: flex;
    flex-direction: column; /* ��������� ��� �����, �������� ������������� ����������� */
}

.video1, .video2, .video3, .video4 {
    margin-bottom: 20px; /* ������ ����� ��� ������� �����-����� */
    flex-direction: column; /* ���������� �������� ������������� ����������� */
    display: flex; /* ���������� Flexbox ��� ���������� ���������� */
}

.video1 iframe {
    margin: auto; /* ������������� ����� �� ����������� */
	box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.91);
}

.video2 iframe {
    margin: auto; /* ������������� iframe �� ����������� */
	box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.91);
}

.video3 iframe {
    margin: auto; /* ������������� iframe �� ����������� */
	box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.91);
}
.video4 video {
    margin: auto; /* ������������� iframe �� ����������� */
	box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.91);
}
.container-audio {
    display: flex;
    flex-direction: column; /* ��������� ��� �����, �������� ������������� ����������� */
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column; /* ���������� �������� ������������� ����������� */
    margin-top: 20px; /* ������ ������ ��� ������� �����-����� */
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%; /* ����������� �������� 60% ������ ���������� */
    margin: auto; /* ������������� ������������ �� ����������� */
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto; /* ������������� ����������� */
    border-radius: 10%; /* ���������� ����� ����������� */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.91); /* ���������� ��������� ���� � ������������ */
}

.container-book {
    display: flex;
    flex-direction: column; /* ��������� ��� ����, �������� ������������� ����������� */
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column; /* ���������� �������� ������������� ����������� */
    margin-top: 20px; /* ������ ������ ��� ������� �������� ����� */
}

.book1 img, .book2 img, .book3 img {
    margin: auto; /* ������������� ����������� */
    border-radius: 10%; /* ���������� ����� ����������� */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.91); /* ���������� ��������� ���� � ������������ */
    margin-bottom: 10px; /* ������ ����� ��� ����������� */
}

.book1 a, .book2 a, .book3 a {
    margin: auto; /* ������������� ������ */
    text-decoration: none; /* ������� ������������� � ������ */
    color: white; /* ���� ������ ������ ������ */
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.2rem; /* ����������� ������ ������ ��� ������ */
} 

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px greenyellow; /* ��������� ���� �� ����������-������ ��� ��������� �� ����������� */
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #7cc6e5; /* ��������� ���� ������ �� ����� ��� ��������� */
    transition: 0.7s ease; /* ������� ������� ���� �� 0.7 ������� */
}

footer {
    display: flex;
    flex-direction: row; /* �������� ������ ������ ������������� ������������� */
    justify-content: center; /* ������������� ����������� ������ */
}

footer a {
    margin-right: 10px; /* ������ ������ � ������ � ������ */
}


@media (max-width: 700px) {
    /* ��� ������ ������ �� 700px */
    
    .container {
        display: flex;
        flex-direction: column; /* ������������ �� ������������ ����� */
    }
    
    .person {
        display: flex;
        flex-direction: column; /* ���������� �������� ������������� ����������� */
        flex-wrap: wrap; /* ������� ��������� �� ����� ������ ��� ������������� */
        width: 100%; /* ������� �������� ��� ������ ���������� */
        margin: 0; /* ������� ������� */
    }

    .person p {
        margin-top: 5px; /* ������ ������ ��� ���������� */
        margin-bottom: 10px; /* ������ ����� ��� ���������� */
    }
    
    .container img {
        margin-top: 20px; /* ������ ������ ��� ����������� */
        border-radius: 10%; /* ���������� ����� ����������� */
        box-shadow: 5px 5px 5px gray; /* ���� ��� ����������� */
        width: 95%; /* ����������� �������� 95% ������ ���������� */
        height: auto; /* ������ ������������� �������������� ��� ������ */
        margin: auto; /* ������������� ����������� �� ����������� */
    }
    
    .container img:hover {
        transform: scale(1.03); /* ������ ���������� ����������� ��� ��������� */
        transition: 0.5s ease; /* ������� ������� ���������� �� 0.5 ������� */
        box-shadow: 5px 5px 5px #7cc6e5; /* ��������� ���� ��� ��������� */
    }

    .interests {
        display: flex;
        flex-direction: column; /* ���������� �������� ������������� ����������� */
        flex-wrap: wrap; /* ������� ��������� �� ����� ������ ��� ������������� */
        width: 100%; /* ������� �������� ��� ������ ���������� */
        margin: 0; /* ������� ������� */
    }

    .interests p {
        margin-top: 10px; /* ������ ������ ��� ���������� */
        margin-bottom: 0; /* ������� ������ ����� */
    }

    h2 {
        margin: 10px; /* ������� ������ ��������� */
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		color: white;
        text-align: center; /* ������������ ��������� �� ������ */
    }

    .video1 iframe {
        margin-top: 20px; /* ������ ������ ��� ����� */
        width: 95%; /* ����� �������� 95% ������ ���������� */
        height: auto; /* ������ ������������� �������������� ��� ������ */
    }
    
    .video2 iframe {
        width: 95%; /* Iframe �������� 95% ������ ���������� */
        height: 320px; /* ������ Iframe ����������� */
    }
    
    .video3 iframe {
        width: 95%; /* Iframe �������� 95% ������ ���������� */
        height: 320px; /* ������ Iframe ����������� */
    }
	.video4 video {
        width: 95%; /* Iframe �������� 95% ������ ���������� */
        height: 320px; /* ������ Iframe ����������� */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* ����������� ���� �������� 95% ������ ���������� */
        height: auto; /* ������ ������������� �������������� ��� ������ */
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    /* ��� ������ ������ �� 700px �� 900px */
    
    .container img {
        margin-top: 20px; /* ������ ������ ��� ����������� */
        border-radius: 10%; /* ���������� ����� ����������� */
        box-shadow: 5px 5px 5px gray; /* ���� ��� ����������� */
        width: 320px; /* ������ ����������� ����������� */
        height: 200px; /* ������ ����������� ����������� */
        margin: auto; /* ������������� ����������� �� ����������� */
    }
}